/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'Crimson Pro', serif;
  font-size: 10px;
  word-spacing: 0.4em;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
  font-size: 1.5em;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1, h2 {
  font-family: 'Bree Serif', serif;
}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: 1px;
}

section h2 + p {
text-indent: 20px;
}

section a, aside a {
  outline: none;
  color: #a66;
}

section a:hover, aside a:hover {     
  background-color:  #a66;
  color: white;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a[href*="http"] {
  background: url('external-link-52.png') no-repeat 100% 0;
  background-size: 10px;
  padding-right: 10px;
}

a[href*="http"]:hover {     
  background-color:  #a66;
  color: white;
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
}

ol {
  list-style-type: lower-alpha;
}

nav a {
  outline: none;
  text-decoration: none;
  display: inline-block;   /*用于设置a的长宽背景等*/
  color: #a66;
  width: 100%;
  line-height: 50px;
  height: 50px;
  border: #a66 solid 1px;
  text-align: center;

}

nav a:hover {
  color: rgb(255, 255, 255);
  background:#a66;
}

nav ul {
  padding: 0;
  width: 100%;
}

nav li {
  display: block;
  /*取消默认的项目符号*/
  margin: 20px;
}




